button{
	border:2px solid orange;
	color:orange;
	background-color:transparent;
	font-size:25px;
	margin-right:1%;
	margin-bottom:1px;
	margin-top:1%;
}
.buttons{
	border:5px solid orange;
	padding:5%;
	padding-top:0%;
	color:orange;
	text-align:center;
}
p{
	font-size:25px;
}
.DT{
	color:orange;
	font-size:20px;
	text-align:center;
	border:5px solid orange;
	margin-top:2%;
}
body{
	background-color:black;
}
button:hover{
	cursor:pointer;
	color:black;
	background-color:orange;
	border-color:black;
}
